@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">
        Welcome, Click the button below to register
    </h1>
    <div class="w-75 btn-group" role="group">
            <a asp-controller="ProjectManager" asp-action="Register" class="btn btn-primary mx-2">Register</a>
    </div>
    
</div>
