@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-3">
        Welcome, Click the button below to register or login
    </h3>
    <div class="w-75 btn-group" role="group">
            <a asp-controller="ProjectManager" asp-action="Register" class="btn btn-primary mx-2">Register</a>
    </div>
    <div class="w-25 btn-group" role="group">
        <a asp-controller="ProjectManager" asp-action="Login" class="btn btn-primary mx-2">Login</a>
    </div>
    
</div>
